@(tasks: List[Task],taskForm :Form[Task],user: User, currentSortBy: String, currentOrder: String, currentFilter: String)

<head>
</head>

@import helper._

@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Tasks.list(sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(user, taskForm) {

@if(tasks.size == 0) {

        <div class="well">
            <em>There are no tasks</em>
        </div>

    } else {

        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header("title", "Task name")
                    @header("dueDate", "Due Date")
                    @header("priority", "Priority")
                    @header("done", "Done")
                </tr>
            </thead>
            <tbody>

                @for(task <- tasks) {
                    <tr>
                        <td><a href="@routes.Tasks.edit(task.id)">@task.title</a></td>
                        <td>
                            @if(task.dueDate == null) {
                                <em>-</em>
                            } else {
                                @task.dueDate.format("dd MMM yyyy")
                            }
                        </td>
                        <td>
                            @if(task.priority == null) {
                                <em>-</em>
                            } else {
                                @task.priority
                            }
                        </td>
                        <td>
                            @if(task.done == null) {
                                <em>-</em>
                            } else {
                                @task.done
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

}
}
