@(todoTasks: List[Task], user: User, taskForm :Form[Task]))

@main(todoTasks, user, taskForm){
    
    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Tasks for user</h2>
        </hgroup>
    </header>
    
    <article  class="tasks">
        @todoTasks.map {
            case (tasks) => {
                <div class="folder">
                    <header>

                        <span class="loader">Loading</span>
                    </header>
                    <ul class="list">
                    </ul>
                </div>
            }
        }
    </article>
    
}

