@(tasks: List[Task], user: User, taskForm :Form[Task])(body: Html)

<html>
    <head>
        <title>TODO List</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.0.custom.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.9.0.custom.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.8.2.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    </head>
    <body>
        <header>
            <dl id="user">
                <dt>@user.name <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </header>
        <nav>
            <h4 class="ui-icon-note"><a href="#/">Dashboard</a></h4>
            <button id="newGroup">New group</button>
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>

